#relogio {
    font-size: 70px;
    padding: 15px;
    max-width: 350px;
    margin-left: 50px;
    margin-top: 50px;
}

#calendario {
    font-size: 40px;
    padding: 15px;
    margin-left: 50px;
    margin-top: 50px;
    max-width: 600px;
}